@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,200;0,300;1,100;1,200&family=Preahvihear&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Moonrocks&family=Smooch&family=Source+Code+Pro:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, serif;
}
/* 
Unidades de medida
Relativas (EM e REM)
Absolutas (px) 

1em = relativo a um equeno espaço, a uma tag, a uma section, etc.
1rem = relativo a toda a página body
*/

ul#menu {
  display: flex;
  list-style: none;

  /* Alinha os itens verticalmente */
  align-items: center;

  /* Centraliza os itens */
  justify-content: flex-start;
}

ul#menu li {
  padding: 0.7rem;
  color: rgb(255, 255, 255);
}

ul#menu li i {
  font-size: 2rem;
}

ul#menu li a {
  color: #fff;
  text-decoration: none;
}

/* Ajusta o item para quando eu passar o mouse sobre ele */
ul#menu li:hover {
  transform: scale(1.2);
}

nav {
  background-color: #2f8694;
  position: fixed;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

main {
  /* Margem à esquerda
       margin-left: 10rem;

       Margem à direita
       margin-right: 30rem; */

  /* 4 lados utilizando o ponteiro do relógio para localização */
  margin: 0 10rem 0 10rem;
}

header img {
  width: 100%;
  margin-top: 3.7rem;
}

header h1 {
  text-align: center;
  margin-top: 3rem;
}

header p {
  /* 4 lados utilizando o ponteiro do relógio para localização */
  margin: 0 10rem 0 10rem;
  padding: 1.5rem;
  font-size: 1.5rem;
}

section#cursos h2 {
  text-align: center;
  padding: 3rem;
  font-size: 2.5rem;
}

section#cursos {
  margin-bottom: 10rem;
}

section#cards {
  display: flex;

  /* Ajusta o espaço entre cards */
  justify-content: space-evenly;
}

section#imagens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section#imagens figure figcaption {
  text-align: center;
}

section#imagens p {
  padding: 2rem;
  font-size: 1.2rem;
}

.card {
  width: 20rem;
  box-shadow: 5px 5px 5px 5px#00000020;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  transition: transform 0.2s ease-in-out;
}

.card img {
  /* Ocupa 100% do espaço em que está */
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.card h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.card p {
  font-size: 1.1rem;
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
}

section#inscreva {
  display: flex;
  padding: 3rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

section#inscreva form {
  flex-wrap: wrap;
  display: flex;
  width: 50%;
}

section#inscreva img {
  flex-wrap: wrap;
  display: flex;
  width: 40%;
  align-items: center;
}

section#inscreva form input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 1rem 1rem 1rem;
  font-size: 1.1rem;
  border: solid 1px #2f8694;
}

section#inscreva form label {
  margin: 0 1rem 0 1rem;
  font-size: 1.3rem;
  color: #2f8694;
}

section#inscreva h2 {
  width: 100%;
  margin: 0 1rem 2rem 1rem;
  text-align: center;
color: #2f8694;
}

section#inscreva form button {
  border: solid 2px #2f8694;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  color: #2f8694;
  width: 20%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

section#inscreva form button:hover {
  color: #fff;
  background-color: #2f8694;
}

footer {
  background-color: #2f8694;
  padding: 4rem;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 5rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: rgb(15, 240, 240);
}
